[build]
  command = "npm ci && npm run build -- --configuration=production"
  publish = "dist/view-menu-app/browser"  # after a local build, check the exact dist folder name

[[redirects]]
  from = "/api/*"
  to = "https://se-project-ey8h.onrender.com/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
