.description {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 0.7rem;
    display: flex;
    justify-content: left;
    width: fit-content;

    legend {
        padding: 0 .5rem;
        font-weight: 600;
        background: var(--mat-sys-surface, #fff);
        color: var(--mat-sys-on-surface, #333);
        border-radius: .25rem;
    }
}